[submodule "data-structures"]
	path = data-structures
	url = https://github.com/mdirshaddev/data-structures.git
[submodule "algorithms"]
	path = algorithms
	url = https://github.com/mdirshaddev/algorithms.git
